/* Shared styles */

body {
    font-family: "Mulish", sans-serif;
}

/* header section */
header {
    margin: 50px 135px;
}

.logo {
    height: 3rem;
}

.ham{
    display: none;
}

.sec-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.logo-n-title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-btn>ul {
    list-style: none;
    display: flex;
    gap: 44px;

}

.list {
    color: #424247;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 400;
}

.nav-btn a {
    text-decoration: none;
}

nav {

    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
}

.hamburger {
    display: none;
}



.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../resource/Images/banner.png);
    margin: auto;


}

.banner input,
select,
button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: 0px;
    margin: 12px;
}

.banner input {
    padding: 0px;
    padding-left: 10px;

}

.banner-title {
    margin-top: 110px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.banner-des {
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.input-n-btn {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: auto;
}

.where,
.when,
.select {
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.find {
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    background: #FF5400;
}


/* popular tour */

.popular-tour{
    display: flex;
    margin: 50px 360px;
    justify-content: space-between;

}

.tour-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}













@media screen and (max-width: 600px) {
    .nav-btn {
        display: none;
    }

    nav {
        margin-bottom: 0px;
        width: 100%;
        align-items: center;
    }

    .ham {
        
        margin-top: 15px;
        margin-right: 10px;
        display: block;
    }

    header {
        margin: 5px;
    }

    .banner {
        margin-top: 20px;
        width: 100%;
        background-position: center;
    }

    .input-n-btn {
        flex-direction: column;
    }

    .banner-title {
        margin-top: 30px;
        font-size: 1.30rem;
        font-weight: 800;
    }

    .input-n-btn {
        width: 90%;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        margin: auto 10px;
    }

    .where,
    .when,
    .select {
        width: 90%;
        margin: 12px auto;
    }

    .banner input {

        width: 90%;
        margin: 12px auto;
    }

    .find {
        width: 90%;
        margin: 12px auto;
    }

    .logo {
        width: 15%;
    }

    .logo-n-title {
        margin-top: 10px;

        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
    }

    .sec-title {
        font-size: 1.3rem;
    }

    .banner-des{
        max-width: 300px;
    }







}